#root {
  /* max-width: 1440px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}
body {
  background-color: #020109;
}
.szh-accordion {
  color: white !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* ============= */
/* .react-calendar .react-calendar__month-view__days {
  gap: 15px !important;
} */
.react-calendar__tile > abbr {
  align-items: center;
  background-color: #312640;
  border-radius: 99999px;
  color: #fafafa;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: auto;
  opacity: 0.5;
  width: 50px;
}
.date_active > abbr {
  background-color: #9655ff;
  color: #fafafa;
  opacity: 1;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  background-color: transparent;
  background-image: none;
}
/* .calendar__tile:enabled:focus {
  background-color: transparent !important;
} */
.react-calendar__tile > abbr:hover {
  background: #9655ff;
  color: #fafafa;
  opacity: 1;
}
.react-calendar__tile:hover {
  background: transparent !important;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background-color: transparent !important;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: transparent !important;
}
.react-calendar__tile--active:enabled:focus .react-calendar__tile > abbr {
  background: #9655ff;
  color: #fafafa;
  opacity: 1;
}
.react-calendar__tile--active > abbr {
  background: #9655ff;
  color: #fafafa;
  opacity: 1;
}
.react-calendar__month-view__weekdays__weekday > abbr {
  text-decoration: none !important;
}
.react-calendar__navigation__label:hover {
  background: transparent !important;
}
.react-calendar__navigation__arrow {
  background: transparent !important;
}
.selected-date {
  background-color: #90caf9; /* Light blue color */
  color: white;
  border-radius: 50%;
}

@media screen and (max-width: 576px) {
  .react-calendar__tile > abbr {
    height: 33px;
    width: 33px;
  }
}
